<div class='clearfix'>
  <section id='records' class='clearfix<%= ' one_list' if @recent_activity.empty? || @recent_inquiries.empty? %>'>
    <%= render 'records' %>
  </section>
  <aside id='actions'>
    <h2><%= t('.quick_tasks') %></h2>
    <%= render 'actions' %>
  </aside>
</div>
<% if Refinery::Core.show_internet_explorer_upgrade_message &&
      /MSIE/ === request.env["HTTP_USER_AGENT"] %>
  <% flash.now[:message] = render '/refinery/ie6check'  %>
<% end %>
